<header>
  <img src="logo.png" alt="logo">
</header>
<body>
  <h1>Clique na opção que procura</h1>

  <app-button label="Inscrição Oficina Dança de Rua" link="https://exemplo.com"></app-button>

  <app-button label="Inscrição Oficina Grafite" link="https://exemplo.com"></app-button>

  <app-button label="Inscrição Oficina Percussão" link="https://exemplo.com"></app-button>

  <app-button label="Inscrição Oficina Escrita e Poesia Subversiva" link="https://exemplo.com"></app-button>

  <app-button label="WhatsApp Para Tirar Dúvidas" link="https://exemplo.com"></app-button>

</body>

<router-outlet />
