<header>
  <img src="logo.png" alt="logo" class="logo">
  <a href="https://github.com/Myzoulz" target="_blank" class="github-link">
    <img src="github.png" alt="github" class="github">
  </a>
</header>

<body>

  <h1>Clique na opção que procura</h1>

  <app-button
    label="Inscrição Oficina Dança de Rua"
    link="https://docs.google.com/forms/d/e/1FAIpQLScNGVDyUvKRJUIP_kRN71KoAxBxu0xECg_u2xOd-sHuJr35xA/viewform?usp=dialog"
    backgroundImage="tintaazul.png"
    backgroundPosition="right -19px top 3px">
  </app-button>

  <app-button
    label="Inscrição Oficina Grafite"
    link="https://docs.google.com/forms/d/e/1FAIpQLSfPunR1oLsU205oMsOvC6cIP3ID6yrPh79dkkQtla7hizxJjg/viewformusp=dialog"
    backgroundImage="tintalaranja.png"
    backgroundPosition="right -10px top -1px">
  </app-button>

  <app-button
    label="Inscrição Oficina Percussão"
    link="https://docs.google.com/forms/d/e/1FAIpQLSfNPhjYNjbL5Aebj0xjDZEww-4CblMJWfK_vo_t6COuXaC6uQ/viewform?usp=dialog"
    backgroundImage="tintarosa.png"
    backgroundPosition="right -7px top -1px">
  </app-button>

  <app-button
    label="Inscrição Oficina Escrita e Poesia Subversiva"
    link="https://docs.google.com/forms/d/e/1FAIpQLSdzEx1qzdKxBJTS6o7priZzwI_fE6hTscdIfKEpPy7_7Q433w/viewform?usp=dialog"
    backgroundImage="tintavermelha.png"
    backgroundPosition="right -2px top 22px">
  </app-button>

  <app-button
    label="WhatsApp Para Tirar Dúvidas"
    link="https://wa.me/5585997009065"
    backgroundImage="tintaverde.png"
    backgroundPosition="right -10px top -1px">
  </app-button>

</body>

<router-outlet />
