:host {
  display: block;
  width: 100%;
  max-width: 400px;
}

.button {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ffff;
  background-size: 80px 80px;
  background-position: top right;
  background-repeat: no-repeat;
  color: #2d4e9c;
  text-decoration: none;
  border-radius: 16px;
  font-size: 1.5rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
